<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Locname API</title>
      <!-- Bootstrap -->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="http://locname.com/assets/favicon.png">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style type="text/css">
         .btn-custom {
         color:#fff;
         background-color: #2f89c5;
         border-color: #2f89c5;
         height: 51px;
         font-size: 17px;
         }
         .btn-custom:hover,
         .btn-custom:focus,
         .btn-custom:active,
         .btn-custom.active {
         background-color: #2a7bb0;
         border-color: #256c9c;
         color:#fff;
         }
         .btn-custom.disabled:hover,
         .btn-custom.disabled:focus,
         .btn-custom.disabled:active,
         .btn-custom.disabled.active,
         .btn-custom[disabled]:hover,
         .btn-custom[disabled]:focus,
         .btn-custom[disabled]:active,
         .btn-custom[disabled].active,
         fieldset[disabled] .btn-custom:hover,
         fieldset[disabled] .btn-custom:focus,
         fieldset[disabled] .btn-custom:active,
         fieldset[disabled] .btn-custom.active {
         background-color: #2f89c5;
         border-color: #2f89c5;
         color:#fff;
         }
         .footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         /* Set the fixed height of the footer here */
         height: 60px;
         background-color: #efefef;
         text-align: center;
         padding-top: 15px;
         border-top: 1px solid #e0e0e0;
         }
         .btn-custom2 {
         background-color: #35b84a;
         border-color: #35b84a;
         color:#fff;
         height: 51px;
         font-size: 17px;
         }
         .btn-custom2:hover,
         .btn-custom2:focus,
         .btn-custom2:active,
         .btn-custom2.active {
         background-color: #2fa442;
         border-color: #2a903a;
         color:#fff;
         }
         .btn-custom2.disabled:hover,
         .btn-custom2.disabled:focus,
         .btn-custom2.disabled:active,
         .btn-custom2.disabled.active,
         .btn-custom2[disabled]:hover,
         .btn-custom2[disabled]:focus,
         .btn-custom2[disabled]:active,
         .btn-custom2[disabled].active,
         fieldset[disabled] .btn-custom2:hover,
         fieldset[disabled] .btn-custom2:focus,
         fieldset[disabled] .btn-custom2:active,
         fieldset[disabled] .btn-custom2.active {
         background-color: #35b84a;
         border-color: #35b84a;
         color:#fff;
         }
      </style>
   </head>
   <body>
      <div class="container" style="margin-top:80px;">
         <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <center>
                  <h1>Locname Dashboard <img src="http://localhost:3000/images/tlogo.png" style="  margin-top: -7px;border-radius: 3px;"></h1>
               </center>
               <hr>
               <form>
                  <div class="form-group">
                     <label for="exampleInputEmail1">Email address</label>
                     <input type="email" class="form-control" name="email" id="Email1" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Password</label>
                     <input type="password" class="form-control" name="password" id="Password" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-custom2 btn-block">Login</button>
               </form>
            </div>
            <div class="col-md-3"></div>
         </div>
      </div>
      <footer class="footer">
         <div class="container">
            <p class="text-muted">© 2015 LocName.com | <a href="http://locname.com/index/terms">Terms &amp; Conditions</a></p>
         </div>
      </footer>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/javascripts/bootstrap.min.js"></script>
   </body>
</html>